$light-grey: #f5f5f5;
$red:#fa405a;
$red: #ee2741;
$grey:#e9e5e4;
$grey-text: #9c9b9a;
$blue: #008aff;
$callout-grey: rgb(123,123,123);
$light-brown: #e9e5e4;
$brown-text: #9c9c9b;
$dark-grey: #232527;
$dark-text: #575757;
$white-20: rgba(255,255,255,.2);
$white-30: rgba(255,255,255,.3);
$white-40: rgba(255,255,255,.4);
$white-50: rgba(255,255,255,.5);
$white-60: rgba(255,255,255,.6);
$white-70: rgba(255,255,255,.7);
$black-10: rgba(0,0,0,.1);
$black-20: rgba(0,0,0,.2);
$black-30: rgba(0,0,0,.3);
$black-40: rgba(0,0,0,.4);
$black-50: rgba(0,0,0,.5);
$green: #08D04F;
$popup-bg: rgba(41,42,48,.98);
$popup-bg-10: rgba(41,42,48,.1); 